* {
    box-sizing: border-box;
}

.centered {
    margin: auto
}

.Home {
    text-align: center;
    margin: auto;
    color: #393D3F;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
}

.landingSection {
    width: 100%;
    height: 820px;
    position: absolute;
}


/*IMAGE THUMBNAIL*/

.profileImageThumbnail {
    width: 222px;
    height: 222px;
    position: relative;
    margin-top: 50px;
}

.profileImage {
    width: 220px;
    height: 220px;
    border-radius: 100%;
    background-image: url(../src/Shared/Media/memojiiAppleCris.png);
    background-position: center;
    background-repeat: no-repeat;
    /*border: 6px solid #468C9D;*/
    background-size: 230px 240px;
    background-color: #38809E;
    -webkit-box-shadow: 0px 10px 19px 1px #38809E;
    box-shadow: 0px 10px 19px 1px #38809E;
}

.profileImageFlag {
    bottom: -20px;
    right: 0px;
    position: absolute;
    font-size: 60px;
    width: 100px;
    user-select: none;
}

.landingSection>p {
    margin-top: 70px;
}

.landingSection>span {
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
}

.myProfession {
    text-transform: uppercase;
    font-style: italic;
    color: #38809E;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #38809E;
    font-size: 18px;
    margin-top: 15px;
    line-height: 30px;
}

.myProfessionDetailed {
    font-weight: bold;
    color: #393D3F;
    margin-top: 30px;
}

.callToAction {
    background-color: #468C9D;
    width: 190px;
    height: 35px;
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    -webkit-transition: .1s;
    -o-transition: .1s;
    -moz-transition: .1s;
    transition: .1s;
}

.callToAction:hover {
    background-color: white;
    color: #468C9D;
    border: 2px solid #468C9D;
    transform: scale(1.2);
    -webkit-box-shadow: 0px 0px 19px 2px #46a1c7;
    box-shadow: 0px 0px 19px 2px #46a1c7;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}